@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

/* styles/gradient.css */
body {
  background: linear-gradient(to bottom right, #eedfa9, #fff9e3);
  font-family: "Poppins", sans-serif;
  color: #dc143cbe;
  /*font-family: "Bodoni Moda", serif;*/
}

.box {
  background-color: #f0f0f0; /* Background color of the box */
  padding: 10px; /* Add padding for spacing inside the box */
  border: 1px solid #ccc; /* Optional: Add a border for a visual separation */
}
